Options +Indexes
AddDescription "Block a site using /etc/hosts" "block-a-site-using-etchosts.html" #Mon, 12 Apr 2021 01:41:35 -0400
AddDescription "/usr/share/dict/words not found" "usrsharedictwords-not-found.html" #Thu, 15 Apr 2021 18:30:05 -0400
