<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Articles | Michael Skyba</title>
    <link rel="icon" href="/static/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/sakura.css">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<h1>♢ Articles</h1>
<p>The majority of my thinking happens in the context of
private projects and decisions. In these times, the primary utility of a
personal website is to at least slightly increase your probability of appearing
in future LLM pre-training datasets.</p>

<a href="..">Home</a>
<hr>
{{ articles_list }}

<pre style="margin-top: 400px; text-align: center; background: none; line-height: 1.4;">⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⡀⠀⠀⠀⣤⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠛⢿⣦⣤⣾⠟⠁⠀⠀⠀⠀⠀⢀⣄⠀⠀⠀⢸⣧⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⢠⣆⠀⠀⢀⠀⠀⠀⢀⠀⠀⢻⡿⠃⠀⣀⠀⠀⠀⠀⠀⠘⢿⣆⠀⢀⣿⣿⣶⣶⣶⣶⡆⠀⠀
⠀⠀⠀⠀⠀⠀⢸⣿⠀⠀⣼⠀⠀⠀⠻⣷⣦⣼⣧⣤⣾⠏⠀⠀⠀⠀⠀⠀⠘⣿⣴⣿⡟⠉⠉⠉⠀⠀⠀⠀⠀
⠀⠀⢠⣦⣤⣀⣸⣿⡀⢰⣿⠀⠀⠀⠀⠀⠙⢿⣿⡿⠁⠀⠀⠀⠀⠀⠀⠀⣰⣿⡿⠿⠿⠿⢿⣿⠇⠀⠀⠀⠀
⠀⠀⠈⠉⠉⠉⠛⢻⣿⣿⣿⡀⠀⠀⡀⠀⠀⢠⣿⡄⢀⡀⠀⣶⡄⠀⢀⣾⡿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠘⠿⠟⠛⠛⠿⣷⣄⣸⡿⠒⢿⣾⣿⣷⡿⠃⠀⠹⣿⣴⣿⣯⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣽⣿⣿⣷⡀⠀⠈⣿⡏⠀⠀⠀⣠⣿⠿⠛⠉⠉⠀⠀⠀⠀⠀⢠⣿⠀⢀⣶⠀⠀
⠀⠀⠀⠀⠀⢠⡀⠀⠀⠀⠀⠀⠀⠈⠛⢿⣦⣄⣿⡇⠀⢀⣼⡿⠃⠀⠀⠀⢀⣴⠇⠀⠀⢰⣿⠃⣠⣿⠟⠀⠀
⢀⣀⠀⠀⠀⠹⣿⣄⠀⠀⠀⣆⠀⠀⠀⠀⠙⢿⣿⣧⣴⣿⣏⣀⣀⣀⣀⣤⣾⣿⣤⣤⣶⣿⣿⣾⣿⣧⣀⠀⠀
⠘⠻⣷⣄⣀⠀⠈⢿⣷⣄⣀⣿⣿⣦⣤⣤⣶⣾⣿⣿⣿⣿⡿⠿⠛⠛⠛⠛⠻⢿⣿⠉⠉⠻⣿⣄⡈⠙⠿⣷⡄
⠀⠀⣸⣿⡿⠿⠿⣿⣿⡿⠛⠛⣿⡿⠋⠉⢀⣾⣿⣿⠉⠻⣿⣶⣄⠀⠀⠀⠀⠀⠉⠀⠀⠀⠈⠻⣿⡆⠀⠈⠁
⠰⠿⠛⠁⠀⠀⣴⡿⠋⠀⠀⢰⢟⠁⠀⣠⣾⠋⠘⣿⠀⠀⠀⠙⢿⣷⣶⣶⣶⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⢀⠀⠀⠀⠈⠻⣿⣿⣿⡇⠀⠀⣿⡆⠀⠀⠀⠈⣿⡿⢿⣧⣄⡀⠀⠀⣀⣀⡀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠺⣶⣦⣤⣤⣴⣿⠟⣿⠇⠀⠀⣹⣇⠀⠀⠀⠀⠿⠃⠀⠹⣿⣿⣿⡿⠛⢛⣫⣶⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣩⣿⣿⡇⠀⠀⠀⣠⣼⣿⣿⣆⡀⠀⠀⠀⠀⠀⠀⣿⡏⠻⣿⡿⠟⠋⠁⠀⠀⠀⠀
⠀⠀⠀⠀⠀⢿⣿⣷⣶⣿⡿⠋⣿⠁⠀⠀⠀⠛⠉⢹⣿⠛⠛⠀⠀⠀⠀⠀⠀⠻⡇⠀⢻⣧⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⢩⣿⠃⠀⠉⠀⠀⠀⠀⠀⠀⠈⣿⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠿⠃⠀⠀⠀⠀⠀⠀⠀⠀⢀⣼⣿⣿⣧⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⡿⠋⢻⣿⡍⠛⠻⠷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠋⠀⢠⣿⠟⢿⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣿⠋⠀⠀⠙⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</pre>
</body>
</html>
